DirectoryIndex public/index.php

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteRule ^(src|config|sql|datos-mysql|\.cursor)(/|$) - [F,L]
  RewriteRule ^public/ - [L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
